* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  gap: 40px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.headerLeft {
  display: flex;
  align-items: center;
}

.logo {
  padding: 24px 30px;
  border-right: 1px solid #ccc;
}

.headerAddress {
  padding: 20px 30px;
}

.headerAddress h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.headerAddress p {
  font-size: 14px;
}

.searchBox {
  flex-grow: 1;
  display: flex;
  border-radius: 15px;
  border: 1px solid #ddd;
}

.searchBox button {
  padding: 15px;
  border: none;
  background-color: transparent;
}

.searchBox input {
  flex-grow: 1;
  border: none;

  background-color: transparent;
}

.searchBox input:focus {
  outline: none;
}

.headerBtn {
  display: flex;
  gap: 40px;
  margin-right: 40px;
}

.headerBtn button {
  font-size: 16px;
  padding: 15px;
  background-color: transparent;
  border: none;
}

.headerBtn button:last-child {
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  background-color: rgb(12, 131, 31);
}

.headerBtn button:last-child:hover {
  text-decoration: underline;
  cursor: pointer;
}

.headerBtn button:first-child {
  font-weight: bold;
}

.headerBtn button:first-child:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bannerSection {
  max-width: 1280px;
  margin: auto;
}

.bannerSection img {
  width: 100%;
}

.orderBanner {
  display: flex;
  max-width: 1280px;
  margin: auto;
}

.orderBannerItems {
  flex-basis: 32%;
  margin: 1%;
}

.orderBannerItems img {
  width: 100%;
}

.categorySection {
  display: flex;
  max-width: 1280px;
  margin: auto;
  flex-wrap: wrap;
}

.categoryItems {
  flex-basis: 10%;
}

.categoryItems img {
  width: 100%;
}

.categoryItems img:hover {
  cursor: pointer;
}

.productSection{
  max-width: 1280px;
  margin: auto;
  padding: 30px 0px 0px 0px;
}

.headingRow {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
}

.headingRow h2 {
  font-size: 22px;
}

.headingRow a {
  color: #328839;
  font-size: 18px;
}

.headingRow a:hover {
  cursor: pointer;
}

.productRow {
  width: 100%;
  margin: 30px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.productItems {
  flex-basis: 15%;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px 2px #eee;
  border: 1px solid #ccc;
}

.productImg {
  text-align: center;
  padding: 10px;
}

.productImg p {
  background-color: #f8f8f8;
  display: flex;
  width: 60px;
  padding: 2px;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: left;
}

.productContent {
  padding: 15px;
  padding-top: 0px;
}

.productContent h2 {
  margin-bottom: 15px;
  font-size: 14px;
}

.productContent p {
  font-size: 14px;
  color: #848080;
}

.btn-price-outer {
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: space-between;
}

.btn-price-outer button {
  padding: 5px 18px;
  border: 1px solid #328839;
  color: #328839;
  font-weight: 700;
  border-radius: 6px;
  background-color: #f7fff9;
}

.btn-price-outer button:hover {
  cursor: pointer;
}

footer {
  padding: 40px 0px 0px;
}

.footer-mid{
  max-width: 1280px;
  margin: auto;
}

.footer-mid-row1{
  width: 100%;
  display: flex;
  gap: 40px;
}

.footer-mid-row1-left {
  flex-basis: 30%;
}

.footer-mid-row1-left h3 {
  margin-bottom: 30px;
}

.useFulLinks {
  display: flex;
}

.useFulLinks ul {
  flex-basis: 33%;
  list-style: none;
}

.useFulLinks ul li a {
  display: block;
  color: rgb(102, 102, 102);
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-mid-row1-right {
  flex-basis: 70%;
}

.CategoriesHeadingRow {
  margin-bottom: 40px;
  align-items: center;
  gap: 15px;
  display: flex;
}

